---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.readtime %} – {{post.readtime}}{% endif %}</p>
        <h2 class="post-link"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-author">{% if post.twitter_username %} by <a class="post-author" href="https://twitter.com/{{ post.twitter_username }}">@{{ post.twitter_username }}</a>{% endif %}</p>
        {% if post.header_image %}
        <a href="{{ post.url | prepend: site.baseurl }}"><img class="post-header-image" src="{{ post.header_image | prepend: site.baseurl }}"></a>
        {% endif %}
        <p class="post-excerpt">{{ post.excerpt | strip_html }}</p>
      </li>
    {% endfor %}
  </ul>
</div>
