<header class="site-header">
  <div class="wrapper">
    <a class="site-logo" href="{{ site.baseurl }}/">
        <img src="{{ site.url }}/img/icon.svg" alt="Git2Go Icon">
    </a>
	<h3 class="site-description">{{ site.description }}</h3>
  </div>


  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
      <form action="//nerdishbynature.us9.list-manage.com/subscribe/post?u=e188f3c1da7d7607e9ba34d28&amp;id=33d2e0377c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
              <label for="mce-EMAIL">Subscribe to a hand-picked round up of the best iOS productivity links. Published every week.</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e188f3c1da7d7607e9ba34d28_33d2e0377c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
  </div>

  <!--End mc_embed_signup-->
</header>
